<!-- BUILD IT FROM HERE https://getbootstrap.com/docs/5.3/content/tables/#striped-rows -->

<table class="table table-striped">

    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Cliente</th>
          <th scope="col">Fecha</th>
          <th scope="col">Modulos</th>
          <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @for(budget of budgets; track budget) {
          <tr>
            <td>
              {{ budget.id }}
            </td>
            <td>
              {{ budget.client }}
            </td>
            <td>
              {{ budget.date }}
            </td>
            <td>
              {{ budget.modules.length }}
            </td>
            <td>
              
              <div>Acc</div>
                
            </td>
          </tr>
        }
    </tbody>
</table>